@import "../config";

.product-view {
  display: flex;
  gap: $unit * 2;
  padding: $unit * 2;

  .product-image {
    max-width: 33%;

    img {
      border-radius: $unit;
      width: 100%;
    }
  }

  .product-summary {
    flex-grow: 1;
    padding: $unit * 2;

    h1 {
      line-height: 1;
    }

    p {
      color: #999;
    }

    section {
      border-top: 1px solid #ddd;
      padding-top: $unit * 2;
      margin-top: $unit * 2;

      h2 {
        font-size: 1em;
      }

      p {
        color: #777;
      }

      iframe {
        width: 75%;
        margin-top: $unit;
        aspect-ratio: 2;
        border-radius: $unit;
        border: none;
      }
    }
  }

  .product-actions {
    display: flex;
    flex-direction: column;
    gap: $unit * 2;
    min-width: 15%;
    height: min-content;
    padding: $unit * 2;
    border-radius: $unit;
    background-color: #f0f0f0;

    .product-price {
      display: flex;
      align-items: center;
      gap: $unit * 0.5;
      margin-bottom: $unit * 10;

      small {
        color: #999;
      }

      p {
        font-size: 2em;
        font-weight: 600;
        line-height: 1;
      }
    }

    .buy-product {
      display: flex;

      button {
        width: 100%;
        text-align: center;
      }
    }

    .product-availability {
      align-self: center;

      section {
        display: flex;
        align-items: center;
        gap: $unit;

        &.available {
          color: #79ab5d;
        }
        
        &.not-available {
          color: #f27474;
        }

        h2,
        p {
          font-size: 1em;
          font-weight: 500;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $unit;

    input {
      all: unset;
      padding: $unit;
      border: 1px solid #999;
      border-radius: $unit * 0.5;
    }
  }
}
